body, header, footer{
  margin: 0;
  padding: 0;
}

p, small, li, a, h2, h3, h4, h5{
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Poppins', sans-serif;*/
}

.gridlock {
  display: block;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* HEADER */



.header{
  width: 100%;

  #navmenu{
    width: 100%;
    position: absolute;
    padding-top: 20px;
    background: rgba(0,0,0,0.85);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(159,159,159,0) 67%, rgba(237,237,237,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.85)), color-stop(67%, rgba(159,159,159,0)), color-stop(100%, rgba(237,237,237,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(159,159,159,0) 67%, rgba(237,237,237,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(159,159,159,0) 67%, rgba(237,237,237,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(159,159,159,0) 67%, rgba(237,237,237,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%, rgba(159,159,159,0) 67%, rgba(237,237,237,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ededed', GradientType=0 );

    img{
      vertical-align: middle;

    }

    .menu-container{
      display: inline-block;

      .menu{
        list-style-type: none;

        li{
          display: inline;

          a{
            padding-right: 15px;
            text-decoration: none;
            font-weight: bold;
            color: white;

            &:hover{
              color: #ff7800;
            }
          }
        }
      }
    }

    .social{
      display: inline-block;
      padding: 0;

      .social-item{
        display: inline-block;

        a{
          display: inline-block;
          width: 15px;
          height: 15px;
          color: black;
          border-radius: 50%;
          padding: 10px;
          text-decoration: none;
          background-color: white;
          text-align: center;

          .fa{
            vertical-align: text-top;
          }

          &:hover{
            color: #ff7800;
          }
        }
      }
    }
  }

  #webdoor{
    width: 100%;

    .webdoorContent{
      position: relative;
      z-index: -5;
      min-height: 40vh;
      background-color: black;

        img{
          width: 100%;
        }

        .textbox{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          text-align: center;

          h1{
            font-size: 100px;
            font-family: 'Poppins', sans-serif;
            color: white;
            margin-bottom: 0;
            padding-bottom: 0;
          }

          h2{
            margin-top: 0;
            color: white;
            font-size: 23px;
          }
        }
      }
  }
}

/* FOOTER */

footer{
  width: 100%;
  padding: 100px 0;
  background-color: black;
  color: white;


  .left{
    display: inline-block;
    width: 25%;
    padding-left: 100px;
    vertical-align: top;
    box-sizing: border-box;

    h2{
      text-transform: uppercase;
      font-size: 13.88px;
    }

    .menu{
      ul{
        padding: 0;
        list-style-type: none;

        li{

          &:last-child{
            margin-top: 20px;
          }

          a{
            text-decoration: none;
            color: #9e9e9e;
            font-size: 12.16px;

            &:hover{
              color: #ff7800;
            }
          }
        }
      }
    }
  }

  .central{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: center;

    .social{
      margin: 70px 0;

      a{
        padding: 0 20px;
        color: #ff7800;

        &:hover{
          color: white;
        }
      }
    }

    small{
      font-weight: bold;
    }
  }

  .right{
    display: inline-block;
    width: 25%;
    vertical-align: top;

    h2{
      text-transform: uppercase;
      font-size: 13.88px;

      &:not(:first-child){
        padding-top: 10px;
      }
    }

    p{
      font-size: 12.16px;
    }

    a{
      text-decoration: none;
      color: #ff7800;
      font-size: 12.16px;

      &:hover{
        color: white;
      }
    }
  }
}