body,
header,
footer {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ececec;
}

p,
small,
li,
a,
h2,
h3,
h4,
h5 {
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Poppins', sans-serif;*/
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700
}

a {
    text-decoration: none;
}

.gridlock {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}


/* HEADER */

.header {
    width: 100%;
}

.header #navmenu {
    width: 100%;
    position: absolute;
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.85);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(159, 159, 159, 0) 67%, rgba(237, 237, 237, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.85)), color-stop(67%, rgba(159, 159, 159, 0)), color-stop(100%, rgba(237, 237, 237, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(159, 159, 159, 0) 67%, rgba(237, 237, 237, 0) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(159, 159, 159, 0) 67%, rgba(237, 237, 237, 0) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(159, 159, 159, 0) 67%, rgba(237, 237, 237, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(159, 159, 159, 0) 67%, rgba(237, 237, 237, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ededed', GradientType=0);
    z-index: 99;
}

.logotipo {
    display: inline-block;
    width: 280px;
    vertical-align: middle;
}

.header #navmenu img {
    vertical-align: middle;
    width: 100%;
}

.header #navmenu .menu-container {
    display: inline-block;
}

.header #navmenu .menu-container .menu {
    list-style-type: none;
}

.header #navmenu .menu-container .menu li {
    display: inline;
}

.header #navmenu .menu-container .menu li a {
    padding-right: 15px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.header #navmenu .menu-container .menu li a:hover {
    color: #ff7800;
}

.header #navmenu .social {
    display: inline-block;
    padding: 0;
}

.header #navmenu .social .social-item {
    display: inline-block;
    margin: 5px;
}

.header #navmenu .social .social-item a {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: black;
    border-radius: 50%;
    padding: 10px;
    text-decoration: none;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
}

.header #navmenu .social .social-item a .fa {
    vertical-align: text-top;
}

.header #navmenu .social .social-item a:hover {
    color: #ff7800;
}

.header #webdoor {
    width: 100%;
    background-color: black;
}

.header #webdoor .webdoorContent {
    position: relative;
    min-height: 40vh;
    background-image: url('http://www.riosportcenter.com.br/wp-content/uploads/2017/07/banner1.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 80%;
}

.header #webdoor .webdoorContent img {
    width: 100%;
}

.header #webdoor .webdoorContent .textbox {
    width: 100%;
    max-width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header #webdoor .webdoorContent .textbox h1 {
    font-size: 100px;
    line-height: 95px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
}

.header #webdoor .webdoorContent .textbox h2 {
    margin-top: 0;
    color: white;
    font-size: 23px;
}


/* FOOTER */

footer {
    width: 100%;
    padding: 100px 0;
    background-color: black;
    color: white;
    margin-top: 50px;
}

footer .left {
    display: inline-block;
    width: 25%;
    padding-left: 100px;
    vertical-align: top;
    box-sizing: border-box;
}

footer .left h2 {
    text-transform: uppercase;
    font-size: 13.88px;
}

footer .left .menu ul {
    padding: 0;
    list-style-type: none;
}

footer .left .menu ul li:last-child {
    margin-top: 20px;
}

footer .left .menu ul li a {
    text-decoration: none;
    color: #9e9e9e;
    font-size: 12.16px;
    font-weight: 600;
}

footer .left .menu ul li a:hover {
    color: #ff7800;
}

footer .central {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: center;
}

footer .central .social {
    margin: 70px 0;
}

footer .central .social a {
    padding: 0 20px;
    color: #ff7800;
}

footer .central .social a:hover {
    color: white;
}

footer .central small {
    font-weight: bold;
}

footer .right {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}

footer .right h2 {
    text-transform: uppercase;
    font-size: 13.88px;
}

footer .right h2:not(:first-child) {
    padding-top: 10px;
}

footer .right p {
    font-size: 12.16px;
}

footer .right a {
    text-decoration: none;
    color: #ff7800;
    font-size: 12.16px;
}

footer .right a:hover {
    color: white;
}


/* OLD BUT NEW */

.elm-phpcode h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 80px 0 20px 0;
    position: relative;
}

.elm-phpcode h2:after {
    content: '';
    display: block;
    width: 146px;
    height: 1px;
    background-color: #ff7800;
    margin: 10px auto 0 auto;
}

.rsc_card_info .rsc_card_date {
    margin: 0;
}

.rsc_card_info .button-orange {
    padding: 15px 25px;
    font-size: 13px;
}

.rsc_zebra_info .info_date {
    font-size: 42px;
    font-weight: 800;
    color: #333;
    margin-top: 40px;
}

.rsc_zebra_info .info_place {
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    color: #333;
    margin-top: 10px;
}

.rsc_zebra_bottom p {
    text-align: right;
    font-size: 14px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.rsc_zebra_bottom .sociallinks {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

.rsc_zebra_bottom .sociallinks li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.rsc_zebra_bottom .sociallinks li a {
    display: inline-block;
    width: 44px;
    height: 44px;
    text-indent: -9999px;
    overflow: hidden;
}

.rsc_zebra_bottom .sociallinks li a.facebook {
    background: url('../../assets/img/bg-facebook.png') 0 0 no-repeat;
}

.rsc_zebra_bottom .sociallinks li a.twitter {
    background: url('../../assets/img/bg-twitter.png') 0 0 no-repeat;
}

.site-header-main-right {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

ul.list-green li:before {
    color: #339933;
}

.ab-btn {
    width: 64px;
    min-width: 0;
    height: 64px !important;
    padding: 0 !important;
    border-radius: 50% !important;
    background-color: transparent;
}

.ab-btn>span {
    font-size: 11px !important;
    line-height: 20px !important;
}

.latest-posts-wrapper {
    display: block;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

h2.latest-posts-title:after {
    content: '';
    display: block;
    width: 146px;
    height: 1px;
    background-color: #ff7800;
    margin: 10px auto;
}

.latest-post {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 300px;
    margin: 0 10px;
    text-align: left;
}

.latest-post-image {
    display: block;
    width: 100%;
    height: 260px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.latest-post h3,
.latest-post h3 a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
    color: #333;
    margin-bottom: 0;
}

.post-info span {
    display: inline-block;
    margin-right: 20px;
    font-size: .9em;
    text-transform: capitalize;
    font-weight: 600;
    color: #777;
}

.latest-post p,
.latest-post p a {
    font-family: 'Open Sans', sans-serif;
    font-size: .95rem;
    font-weight: 400;
    color: #666;
}

.general-filter {
    text-align: center;
    padding: 50px 0 10px 0;
}

.filter-tipo,
.filter-local {
    display: inline-block;
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000;
    margin: 5px 15px;
    min-width: 300px;
}

select:focus {
    outline: none;
}

.atividades,
.gridlock {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media only screen and (max-width:1279px) {
    .gridlock {
        padding: 0 10px;
    }
}

#news-list {
    margin: 30px 0;
}

.rsc_zebra {
    display: block;
    width: 100%;
    height: 510px;
    overflow: auto;
    box-sizing: border-box;
    padding: 5px;
    margin: 30px auto;
}

.rsc_zebra_content {
    display: block;
    width: 50%;
    height: 100%;
    float: left;
    background-color: #fff;
    position: relative;
}

.rsc_zebra.even .rsc_zebra_content {
    float: right;
}

.rsc_zebra_image {
    display: block;
    width: 50%;
    height: 100%;
    float: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rsc_zebra_.even .rsc_zebra_image {
    float: left;
}

.rsc_zebra_info {
    padding: 35px 60px;
}

.rsc_zebra_info h3,
.rsc_zebra_info h3 a {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.80);
}

.rsc_zebra_info p,
.rsc_zebra_info p a {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

.rsc_zebra_bottom {
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 30px 30px 60px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}

.rsc_zebra_category {
    display: inline-block;
    padding: 0px 30px;
    background-color: #ff7800;
    margin: 5px;
    text-transform: uppercase;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
}

.professor-image {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.professor-nome {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

.professor-detail {
    display: block;
    color: #999;
    font-size: 13px;
    font-weight: 600;
    line-height: 14px;
}

.professor-horarios {
    display: block;
    float: right;
    padding: 15px 20px;
    text-transform: uppercase;
    background-color: #ff7800;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    margin-top: 7px;
}

.planos {
    display: block;
    text-align: center;
    padding: 50px 0 100px 0;
}

.plano {
    display: inline-block;
    width: 100%;
    max-width: 410px;
    text-align: left;
    margin: 0 5px;
}

.plano-imagem {
    display: block;
    width: 100%;
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.plano-info {
    display: block;
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 20px 60px 50px;
    box-sizing: border-box;
}

.plano-info h3 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

.rsc_vantagens {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 280px;
    text-align: center;
    padding: 0 10px;
    margin: 30px 0px;
}

.rsc_vantagens_img {
    display: block;
    width: 280px;
    height: 280px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.rsc_vantagens h4 {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

.rsc_vantagens p {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

.button-orange {
    display: block;
    max-width: 200px;
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: #ff7800;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 0 auto;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

.button-orange:hover {
    background-color: transparent;
    border: 2px solid #ff7800;
    color: #ff7800;
}

.header-unidade {
    display: block;
    width: 100%;
    height: 540px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 260px;
    box-sizing: border-box;
}

.header-title {
    font-size: 105px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
}

.header-slogan {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
}

.rsc_title {
    text-align: center;
    text-transform: uppercase;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 33px;
    margin: 10px auto 20px auto;
}

.rsc_title:after {
    content: '';
    display: block;
    width: 150px;
    height: 1px;
    background-color: #ff7800;
    margin: 10px auto;
}

.rsc_text {
    display: block;
    max-width: 680px;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    margin: 10px auto 20px auto;
}

.unidade-video {
    margin: 20px auto 40px auto;
    height: 37vw;
}

.estrutura {
    text-align: center;
    font-size: 17px;
    color: #000;
    font-family: "Poppins", sans-serif;
}

.unidade-fotos {
    display: block;
    padding: 30px 0;
}

.unidade-foto {
    display: inline-block;
    vertical-align: top;
    width: 244px;
    height: 210px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.unidade-contato {
    display: block;
    width: 100%;
    max-width: 490px;
    text-align: center;
    margin: 50px auto;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
}

.unidade-contato p {
    margin: 0;
}

.unidade-endereco {
    font-size: 22px;
    line-height: 28px;
}

.unidades,
.noticias {
    display: block;
    margin: 50px auto;
    height: auto;
    box-sizing: border-box;
}

.rsc_card {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 390px;
    margin: 0 15px;
    margin-bottom: 20px;
}

.rsc_card_imagem {
    display: block;
    width: 100%;
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rsc_card_info {
    display: block;
    height: 390px;
    margin: 0;
    padding: 40px;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
}

.rsc_card_date {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
}

.rsc_card_title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    font-size: 23px;
    margin-top: 0;
}

.rsc_card_text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    line-height: 18px;
}

.rsc_card_info .button-orange {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.wpcf7-form label {
    width: 100%;
}

.wpcf7-form input[type="submit"] {
    width: 50%;
    text-align: center;
    background-color: #fd8701;
    margin: 0 auto;
}

.contatos-das-unidades {
    text-align: center;
}

.contatos-das-unidades .unidades-title {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.contatos-das-unidades .unidades-title:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    height: 2%;
    content: " ";
    background-color: #fd8701;
}

.contatos-das-unidades .unidade-item {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 410px;
    height: 360px;
    margin: 20px;
    background-color: white;
    text-align: left;
    box-sizing: border-box;
    padding: 20px;
}

.contato-unidade-info {
    box-sizing: border-box;
    padding: 0px 50px;
    text-align: left;
}

.contatos-das-unidades .unidade-item .title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.contatos-das-unidades .unidade-item .title:before {
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    width: 5px;
    height: 40px;
    content: "";
    background-color: #fd8701;
}

.contatos-das-unidades .unidade-item .email {
    margin: 0;
    font-weight: bold;
}

.contatos-das-unidades .unidade-item .tel {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.contatos-das-unidades .unidade-item .adress-box {
    padding: 20px 0;
    position: absolute;
    bottom: 0;
}

.contatos-das-unidades .unidade-item .adress-box:before {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    content: " ";
    height: 2px;
    background-color: #fd8701;
}

.contatos-das-unidades .unidade-item .adress-box img {
    display: inline-block;
}

.contatos-das-unidades .unidade-item .adress-box .adress {
    width: 80%;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    line-height: 1.5;
    font-weight: bold;
}

#wpcf7-f223-p225-o1 {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.wpcf7-form p,
.wpcf7-form span {
    display: inline;
}

.wpcf7-form select,
.wpcf7-form textarea,
.wpcf7-form input {
    border: none;
    border-radius: 10px;
    margin: 15px 0px;
    outline: none;
    padding: 10px 15px;
    box-sizing: border-box;
}

.col3 {
    display: inline-block;
    max-width: 33%;
}

form.wpcf7-form select,
form.wpcf7-form textarea {
    display: block;
    width: 100%;
}

.subtitle {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: #989898;
    max-width: 780px;
    margin: 10px auto 30px auto;
}

.post_content {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.post_content img {
    width: 100%;
    height: auto;
}

.the_champ_sharing_title {
    font-family: 'Poppins', sans-serif;
}

.unidade-gallery {
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.unidade-photo {
    display: inline-block;
    width: 100%;
    max-width: 250px;
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5px;
}

.unidade_content p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    display: block;
    width: 100%;
    max-width: 980px;
    margin: 30px auto;
    text-align: center;
}

.unidade_video {
    display: block;
    width: 100%;
    max-width: 1040px;
    height: 545px;
    margin: 0 auto;
}

.unidade_telefone {
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    margin: 3px auto;
}

.unidade_endereco {
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 3px auto;
    display: block;
    max-width: 450px;
}

.planos_wrapper {
    display: none;
    transition: all 0.2s ease-in;
}

.planos_wrapper.active {
    display: block;
}

.planos-chooser {
    display: block;
    text-align: center;
    margin: 60px auto 10px auto;
    list-style-type: none;
}

.choose {
    display: inline-block;
    padding: 0 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.choose.active {
    color: rgba(0, 0, 0, 1);
}