body {

    background-color: #ececec;

}



form{

    text-align: center;

    margin: 50px 0;

}



select{

    border: none;

    border-radius: 5px;

    text-transform: uppercase;

    font-weight: bold;

    padding: 5px 10px;

    margin: 0 20px;

}



table{

    width: 100%;
    margin-bottom: 50px;

}



table tr, th, td{
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
}



table th, td{

    width: 14%;

    text-align: center;

}



table tr th{

    text-transform: uppercase;

    font-weight: bold;

    background-color: #cccccc;

}



table tr td{

    background-color: white;

}



table td .atividade-name{

    margin: 0;

    padding: 0;

    cursor: pointer;

}



table td .item-atividade{

    position: relative;

}



table td .item-atividade .atividade-prof{

    display: none;

    position: absolute;

    border: 1px solid lightgray;

    padding: 10px;

    background-color: white;

    z-index: 50;

    -webkit-box-shadow: 3px 5px 20px 0px rgba(0,0,0,0.75);

    -moz-box-shadow: 3px 5px 20px 0px rgba(0,0,0,0.75);

    box-shadow: 3px 5px 20px 0px rgba(0,0,0,0.75);

}



table td .atividade-name:hover{

    text-decoration: underline;

}



table td .atividade-name:hover ~ .atividade-prof{

    display: block;

}